.feautures{
    margin-top: 163px;
    height: 1080px;
    background: #111111;
}

.feautures__content{
 
    background: #111111;
    justify-content: space-between;
}

.feautures__title{
    padding: 135px 228px 135px 0;
}

.feautures__description{
    padding: 121px 0 133px 0;

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */


    color: rgba(255, 255, 255, 0.502972);
}

.col__content{
 
    background: #9013FE;
    margin-right: 15px;
}

.col__contentt{
    margin-left: 15px;
    background: #417505;
}

.slider__icon{
    padding: 48px 0 24px 48px;
}

.slider__title{
    padding: 0 0 19px 48px;

    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    text-transform: uppercase;

    color: #FFFFFF;
}

.slider__discription{
    padding: 0 32px 48px 48px;

    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */


    color: rgba(255, 255, 255, 0.502972);
}


