.project{
    height: 768px;
}

.project__description{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */


    color: rgba(17, 17, 17, 0.50133);
}

.line{
    width: 1170px;
    height: 2px;
    background-color: #000;
}

.side-bar__ul{
    list-style: none;
}

.yellow{
    background-color: #F8E71C;
}

.red{
   background-color:#FF564F;
}

.items__tittle{
    font-size: 40px;
    line-height: 48px;  
}

.items__subtitle{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    letter-spacing: 3px;
    text-transform: uppercase;

    color: var(--textBlack);
}

.sidebar__title{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
 

    letter-spacing: 3px;
    text-transform: uppercase;

    color: var(--textBlack);
}

.side-bar__item{
    width: 170px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    transition: translateX 0.3s;
  

}

.side-bar__item:hover{
    color: var(--white);
    background-color: var(--textBlack);
}

.side-bar__item:hover a{
    color: var(--white) ;
    transform: translateX(16px);
}

