
.project__content{
    margin-top: 73px;
    
}

.project__title{
    width: 435px;
    padding: 105px 165px 87px 0;
}

.project__description{
    max-width: 570px;
    padding: 105px 0 58px 0;
    margin:0 ;

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;



    color: rgba(17, 17, 17, 0.50133);
}

.line{
    width: 1170px;
    height: 2px;
    background-color: #111111;
}

.side-bar{
    margin: 0 130px 0 0  ;
}


.sidebar__title{
    margin-bottom: 37px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
 

    letter-spacing: 3px;
    text-transform: uppercase;

    color: var(--textBlack);
}



.side-bar__item{
    padding: 9px 0 7px 0;

    width: 170px;
    height: 48px;

    margin-bottom: 25px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    transition:  .3s;

    cursor: pointer;

    border-radius: 3px;

    box-sizing: border-box;
  

}

.side-bar__link{
    transition: .3s;
}

.side-bar__item:hover{
    color: var(--white);
    background-color: var(--textBlack);
}

.side-bar__item:hover .side-bar__link{
    color: var(--white) ;
    padding-left: 16px;
}


.yellow{
    margin: 0 0 45px 0;
    background-color: #F8E71C;
    border-radius: 3px;
}

.red{
   background-color:#FF564F;
   margin: 0 0 80px 0;
   border-radius: 3px;
}

.col__item{
    
    position: relative;
    width: 870px;
    height: 416px;

    box-sizing: border-box;
    
}

.items__text{
    flex-direction: column;
    justify-content: flex-end;

    padding: 0 0 57px 48px;

    
    height: 90%;
}

.items__tittle{
    max-width: 281px;
    font-size: 40px;
    line-height: 48px;  
}

.items__subtitle{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
   

    letter-spacing: 3px;
    text-transform: uppercase;

    color: var(--textBlack);
}


.items__dog{
    position: absolute;
    top: -54px;
    right: 97px
}

.items__girl{

    width: 614px;
    height: 435px;
    position: absolute;
    top: -18px;
    right: -58px
}


